<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jckj.modules.business.pay.mapper.PayMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="payResultMap" type="org.jckj.modules.business.pay.entity.Pay">
        <result column="id" property="id"/>
        <result column="create_user" property="createUser"/>
        <result column="create_dept" property="createDept"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="status" property="status"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="pay_date" property="payDate"/>
        <result column="pay_type" property="payType"/>
        <result column="pay_request_parameters" property="payRequestParameters"/>
    </resultMap>


    <select id="selectPayPage" resultMap="payResultMap">
        select * from pay where is_deleted = 0
    </select>

</mapper>
