<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jckj.modules.business.meeting.mapper.JoinMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="joinResultMap" type="org.jckj.modules.business.meeting.entity.Join">
        <result column="id" property="id"/>
        <result column="create_user" property="createUser"/>
        <result column="create_dept" property="createDept"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="status" property="status"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="fk_user_id" property="fkUserId"/>
        <result column="fk_meeting_id" property="fkMeetingId"/>
        <result column="conference_room_id" property="conferenceRoomId"/>
        <result column="meeting_password" property="meetingPassword"/>
        <result column="is_audio_frequency" property="isAudioFrequency"/>
        <result column="is_camera" property="isCamera"/>
    </resultMap>


    <select id="selectJoinPage" resultMap="joinResultMap">
        select * from meeting_join where is_deleted = 0
    </select>

</mapper>
